#loginform {
	text-align: center;
	margin: 0 auto;
	border-style: double;
	background-image: url(../images/bgimg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


input[type="text"],
input[type="password"] {
	margin-top: 10px;
	height: 38px;
	width: 300px;
	font-size: 20px;
	font-style: border;
	margin-bottom: 10px;
	color: rgb(0, 0, 0);
	padding-left: 40px;
	background: transparent;
	border-radius: 15px;
	outline: 20px;
	
	border-color: rgb(64, 0, 0);
  	border-width: 2px;
}

.btn-login {
	padding: 15px 25px;
	border: none;
	background-color: #27ae60;
	color: #fff;
	border-radius: 15px;
}

.centerform {
	width: min-content;
	margin-bottom: 90px;	
	margin-top: 150px;
	background-size: cover;
	background-image: url('./images/bgimg.jpg') no-repeat center center/cover;
	
}

.lableuser {

	float: left;
}